* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  scroll-behavior: smooth;
}
body {
  counter-reset: hero-counter;
}
.site {
  background-color: #fff;
}
.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

.image__wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  img {
    width: 100%;
  }
  .img-responsive {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    font-family: "object-fit: cover; object-position: center;";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 120%;
  }
}
.page-template-page-about .img-responsive {
  position: relative;
}
img.aligncenter {
  display: block;
  margin: 0 auto;
}

img.alignleft {
  display: block;
  @include mq-min($screen-sm) {
    display: inline-block;
    float: left;
    margin-right: 25px;
  }
}

img.alignright {
  display: block;
  @include mq-min($screen-sm) {
    display: inline-block;
    float: right;
    margin-left: 25px;
  }
}
.bg_image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.fillnone {
  fill: none !important;
}

.blend-multiply {
  mix-blend-mode: multiply;
}
.mr-3 {
  margin-right: 3rem;
}

.flex {
  display: flex;
}

// Flex grid styling
.flex-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  .grid-item:first-of-type {
    @include mq-min($screen-xs) {
      margin-left: 0;
      padding-left: 0;
    }
  }
  .grid-item {
    position: relative;
  }
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.flex-between {
  justify-content: space-between;
}

.flex-1 {
  flex-basis: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
}

.flex-2 {
  flex-basis: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
  @include mq-min($screen-sm) {
    flex-basis: 50%;
    width: 50%;
  }
}

.flex-3 {
  flex-basis: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
  @include mq-min($screen-sm) {
    padding: 0 1rem;
    flex-basis: 33.33%;
    width: 33.33%;
  }
  @include mq-min($screen-lg) {
    flex-basis: 33.33%;
    width: 33.33%;
  }
}

.flex-4 {
  flex-basis: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
  @include mq-min($screen-sm) {
    flex-basis: 50%;
    width: 50%;
  }
  @include mq-min($screen-lg) {
    flex-basis: 25%;
    width: 25%;
  }
}

.flex-1-3 {
  flex-basis: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
  @include mq-min($screen-lg) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.33%;
  }
}

.flex-2-3 {
  flex-basis: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
  @include mq-min($screen-lg) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 66%;
  }
}

.flex-1-4 {
  flex-basis: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
  @include mq-min($screen-lg) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
  }
}

.flex-3-4 {
  flex-basis: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
  @include mq-min($screen-lg) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75%;
  }
}

.grow {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.grow-3 {
  flex-grow: 3;
}

.grow-4 {
  flex-grow: 4;
}

.flex-wrapper .col {
  @media (max-width: 1023px) {
  }
}

.flex-column {
  flex-direction: column;
}

.full-width-hr {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 0;
  margin-right: 0;
}

.short-hr {
  width: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 0;
}

.sticky {
  position: sticky;
  top: 0;
}

.no-padding {
  padding: 0;
}
.no-break-sm-down {
  @include mq-max($screen-sm - 1) {
    display: none;
  }
}
.no-break-md-down {
  @include mq-max($screen-md - 1) {
    display: none;
  }
}
.no-break-lg-down {
  @include mq-max($screen-lg - 1) {
    display: none;
  }
}
.hidden {
  display: none;
}
.hidden-mobile {
  display: none;
  @include mq-min($screen-md) {
    display: flex;
  }
}

.hidden-tablet {
  display: none;
  @include mq-min($screen-lg) {
    display: flex;
  }
}
